HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.yml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
logs/application.log
logs/err_application.log
src/main/generated/carrotMarcket/marcket/board/entity/QBoard.java
src/main/generated/carrotMarcket/marcket/board/entity/QBoardFile.java
src/main/generated/carrotMarcket/marcket/board/entity/QComment.java
src/main/generated/carrotMarcket/marcket/board/response/QBoardListResponse.java
src/main/generated/carrotMarcket/marcket/global/entity/QBaseEntity.java
src/main/generated/carrotMarcket/marcket/user/entity/QRefreshToken.java
src/main/generated/carrotMarcket/marcket/user/entity/QUsers.java
